<extend name="Base/common" />

{// css样式区 }
<block name="link">
</block>

<block name="jscript">
</block>

<block name="main">
<style type="text/css">
        .tianxie_bd p{
            margin-bottom: 1rem !important;
        }
        .tianxie_bd p a{
            float: right;
            width: 28%;
            padding: 0;
            margin: 0;
            display: block;
            text-align: center;
            color: #0064BE;
            height: 4rem;
            line-height: 4rem;
            border: 0;
            overflow: hidden;
        }
        .tianxie_bd p a img{
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .tianxie_bd p small{
            display: block;
            float: left;
            width: 70%;
            overflow: hidden;
        }
        .tianxie_bd p b{
            display: block;
            font-weight: normal;
            color: #999999;
            font-size: 1rem;
            margin-top: .2rem;
        }
    </style>
<body>
	<section id="BiaoD" style="margin: 3rem 0 3rem 0;">
		<form action="" method="post">
		<div class="tianxie_bd">
			<div class="shangTu_wa">
			<div class="shangTu">
				<label for="shangchua"><div id="preview">+</div></label>
				<input type="file" name="" id="shangchua" value="" onchange="preview(this)" />
			</div>
			上传头像
			</div>
			<p>
				<input placeholder="请输入您的用户名或昵称" type="text" name="" value="" />
				<b>*6-16位字符，可以中文、英文、数字、符号</b>
			</p>
			<p>
				<input placeholder="请输入您的密码" type="password" name="" value="" />
				<b>*6-16位英文、数字、符号</b>
			</p>
			<p>
				<input placeholder="请再次输入您的密码" type="password" name="" value="" />
				<b>*6-16位英文、数字、符号</b>
			</p>
			<p>
				<input placeholder="请输入您的代号" type="text" name="" value="" />
				<b>*请输入单位给您的代号，英文+数字</b>
			</p>
			<p>
				<select name="">
					<option value="" selected="selected" disabled="disabled">请选择性别</option>
					<option value="">男</option>
					<option value="">女</option>
				</select>
			</p>
			<script src="js/XuanZe.js" type="text/javascript"></script>
		</div>			
			<input style="margin-bottom: .6rem;" class="btn-th" type="submit" value="完成注册"/>
		</form>
		<div class="wj_jz">
			<a href="{:U('login')}">已有账号，去登陆</a>
			<a href="#">忘记密码</a>
		</div>
	</section>
	
</body>

<script type="text/javascript">
    function preview(file) {
        var prevDiv = document.getElementById('preview');
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function(evt) {
                prevDiv.innerHTML = '<img class="chuan_tu" src="' + evt.target.result + '" />';
            }
            reader.readAsDataURL(file.files[0]);
        } else {
            prevDiv.innerHTML = '<div class="asd_img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
        }
    }
</script>
</block>